body {
  font-family: "Lucida Grande", sans-serif;
  background-color: #FBFF8E;
}

img#title-image {
  margin: 20px 0px -20px 20px;
}

h2 {
  position: relative;
  left: 40px;
}

#page-wrap {
  width: 777px;
  margin: 20px auto;
}

#dotty-canv {
  background-color: #FFF;
  border: solid 2px #222;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
}

#artist-display {
  padding: 5px;
  border: 2px solid #222;
  border-radius: 5px;
}

#current-turn {
  position: absolute;
}

.artist {
  background-color: #00D6F7;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 15px;
  margin: 2px;
  display: inline-block;
}
